name: Release
on:
  push:
    tags: ["v*"]

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Release (Spark ${{ matrix.spark }})
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        spark: ["3.4.1", "3.5.2"]
    env:
      SPARK_VERSION: ${{ matrix.spark }}
      SCALA_VERSION: "2.12.17"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8
          cache: sbt

      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Release on Maven Central
        run: sbt -Dspark.perfgazer.sparkVersion=$SPARK_VERSION -Dspark.perfgazer.scalaVersion=$SCALA_VERSION ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          SONATYPE_USERNAME: ${{ secrets.OSSRH_USERNAME }}
