name: Scala CI/CD Pipeline
# Note: steps have a comment with the name of the step
# this is only to facilitate visualization in IDE when  yaml  is collapsed :-/

on:
  push:
    branches: [ "main", "hotfix/*", "feature/*" ]
  pull_request:
    branches: [ "main", "hotfix/*", "release/*" ]
  workflow_dispatch: 
    inputs:
      version:
        description: "Version to use for the release"
        required: true
        default: "0.0.1"

permissions:
  contents: write # Required to create a release
env:
  APP_NAME: ${{ github.repository }}
  USERNAME: ${{ vars.AR_USER }}
  PASSWORD: ${{ secrets.AR_PASSWORD }}
  sbtOptions: "-Dsbt.override.build.repos=true -Dsbt.repository.config=.repositories"

jobs:
  build-and-test:
    runs-on: gmsshr-maven-amadeus-cplatform
    strategy:
      fail-fast: true

    steps:
      #Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache sbt dependencies
        uses: actions/cache@v3
        with:
          path: ~/.ivy2/cache
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
          restore-keys: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}


      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Configure Git
        run: |
          git config --global user.name "${USERNAME}"
          git config --global user.email "${USERNAME}@amadeus.com"

      - name: Check if last commit is technical
        id: technical_commit
        run: |
          LAST_LOG=$(git log -1 --pretty=%B | tail -n 1)
          echo "lastLog=${LAST_LOG}"
          if [[ "$LAST_LOG" == "[sbt-release]"* || "$LAST_LOG" == "[doc]"* ]]; then
            echo "is_technical=true" >> $GITHUB_OUTPUT
          else
            echo "is_technical=false" >> $GITHUB_OUTPUT
          fi


      - name: Fetch master tags
        if: steps.technical_commit.outputs.is_technical == 'false'
        run: |
          git fetch --tags origin +refs/heads/master:refs/remotes/origin/master
          git tag -d $(git tag --no-merged origin/master) || true
          git tag -l

      - name: Pre-release checks
        if: steps.technical_commit.outputs.is_technical == 'false'
        run: |
          sbt $SBT_OPTIONS -batch 'show latestTag unreleasedCommits suggestedBump'

      - name: Build
        if: steps.technical_commit.outputs.is_technical == 'false'
        run: |
          sbt $SBT_OPTIONS -batch clean compile

      - name: Unit Tests
        if: steps.technical_commit.outputs.is_technical == 'false'
        run: |
          sbt $SBT_OPTIONS -batch coverageOn test coverageReport coverageAggregate


      - name: JUnit Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: '**/target/test-reports/*.xml'

  release:
    name: Release to Artifactory (master only)
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' && needs.build.outputs.is_technical == 'false'

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Configure Git
        run: |
          git config --global user.name "${{USERNAME}}"
          git config --global user.email "${{USERNAME}}@amadeus.com"

      - name: Fetch master tags
        run: |
          git fetch --tags origin +refs/heads/master:refs/remotes/origin/master
          git tag -d $(git tag --no-merged origin/master) || true
          git tag -l

      - name: Release with sbt
        run: |
          git checkout master
          git branch -u origin/master
          sbt $SBT_OPTIONS -batch 'release with-defaults skip-tests'

    pr-snapshot:
      name: Publish PR Snapshots
      if: github.event_name == 'pull_request'
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v4

        - name: Set up JDK
          uses: actions/setup-java@v4
          with:
            distribution: 'temurin'
            java-version: '11'

        - name: Configure Git
          run: |
            git config --global user.name "${{ secrets.IZ_USER_USERNAME }}"
            git config --global user.email "${{ secrets.IZ_USER_USERNAME }}@amadeus.com"

        - name: Get Project Version
          id: project_version
          run: |
            VERSION=$(sbt -no-colors -error "print version" | tail -1)
            echo "version=$VERSION" >> $GITHUB_OUTPUT

        - name: Publish PR Snapshot to Artifactory
          run: |
            GENERATED_VERSION="${{ steps.project_version.outputs.version }}.PR${{ github.event.pull_request.number }}.COMMIT$(git rev-parse --short HEAD)"
            sbt "set every version := \"$GENERATED_VERSION\"" $SBT_OPTIONS publish