# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Scala CI and Publish

on:
  push:
    branches: [ "master", "feature/*" ]
  pull_request:
    branches: [ "master"]
  workflow_dispatch: # Allows manual triggering of the workflow
    inputs:
      version:
        description: "Version to use for the release"
        required: true
        default: "0.0.1"

permissions:
  contents: write # Required to create a release
env:
  APP_NAME: ${{ github.repository }}
  AR_USER: ${{ vars.AR_USER }}
  AR_PASSWORD: ${{ secrets.AR_PASSWORD }}

jobs:
  build_and_test:
    runs-on: gmsshr-maven-amadeus-cplatform

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Cache sbt dependencies
      uses: actions/cache@v3
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
        restore-keys: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}

    - name: Run Build
      run: |
        sbt clean compile

    - name: Run tests
      run: |
        echo "Running tests"
        sbt test

    - name: Determine Version Pattern
      id: version
      run: |
        if [ -n "${{ github.event.inputs.version }}" ]; then
          echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV
        else
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            COMMIT_SHA="${{ github.event.pull_request.head.sha }}"
          else
            COMMIT_SHA="${GITHUB_SHA}"
          fi
          SHORT_COMMIT=$(echo "${COMMIT_SHA}" | cut -c1-7)
          git fetch --tags
          LATEST_TAG=$(git tag -l "v*" | grep -v SNAPSHOT | sort -V | tail -n1)
          if [ -n "$LATEST_TAG" ]; then
            LATEST_VERSION=${LATEST_TAG#v}
            MAJOR=$(echo $LATEST_VERSION | cut -d. -f1)
            MINOR=$(echo $LATEST_VERSION | cut -d. -f2)
            PATCH=$(echo $LATEST_VERSION | cut -d. -f3)
            NEXT_PATCH=$((PATCH + 1))
            NEXT_VERSION="${MAJOR}.${MINOR}.${NEXT_PATCH}"
            echo "VERSION=${NEXT_VERSION}-${SHORT_COMMIT}-SNAPSHOT" >> $GITHUB_ENV
          else
            echo "Error: No git tags found. Unable to determine version." >&2
            exit 1
          fi
        fi

    - name: Publish to Artifactory
      env:
        VERSION: ${{ env.VERSION }}
      run: |
        echo "Publishing to Artifactory with IZ_USER $AR_USER"
        echo "VERSION: $VERSION"
        sbt clean publish

    - name: Create Git Tag
      if: ${{ github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/master' && github.event.inputs.version != '' }}
      run: |
        git tag "v${{ env.VERSION }}"
        git push origin "v${{ env.VERSION }}"